@using MvcEnityFrameworkcodefirst.Models.Yenimodel
@model _HomapageViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <script src="~/Scripts/jquery-3.6.4.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row"> <hr /></div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    @Html.ActionLink("Yeni Kişi", "yeni", "Kisi", null, new { @class = "btn btn-primary" })
                </div>
                <br />
                <ul class="list-group">
                    <li class="list-group-item active">Kişiler</li>

                    @foreach (var item in Model.Kişiler)
                    {
                        <li class="list-group-item">
                            @Html.ActionLink("Düzenle", "Duzenle", "Kisi", new { kisiId = item.ID, Ad= item.Ad }, new { @class = "btn btn-warning btn-xs" })
                            @Html.ActionLink("Sil", "Sil", "Kisi", new { kisiId = item.ID }, new { @class = "btn btn-danger btn-xs" })
                            <span class="glyphicon glyphicon-user kirmizi"></span>
                            @(item.Ad +" "+item.Soyad) <i>(@item.Yas)</i>

                        </li>
                    }

                </ul>
            </div>

            <div class="col-md-6">
                <div>

                    @Html.ActionLink("Yeni Adres", "yeni", "Adres", null, new { @class = "btn btn-primary" })
                </div>
                <br />
                <ul class="list-group">
                    <li class="list-group-item active">Adresler</li>
                    @foreach (var item in Model.adresler)
                    {
                <li class="list-group-item">
                    @Html.ActionLink("Düzenle", "Duzenle", "Adres", new { AdresId = item.ID }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Sil", "Sil", "Adres", new { AdresId = item.ID }, new { @class = "btn btn-warning btn-xs" })
                    <span class="glyphicon glyphicon-home yesil "></span>
                    @(item.Adrestanim) <i>(@(item.kisi.Ad+" "+item.kisi.Soyad))</i>
                    
                </li>
                    }
                
                </ul>
            </div>

        </div>

    </div>
</body>
</html>
